@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}
a{
    text-decoration: none;
}
nav{
    width: 100%;
    overflow: auto;
    padding-bottom: 20px;
}
nav ul{
    padding: 0;
    margin: 0 0 0 250px;
    list-style: none;
}
nav li{
    float: right;
}
.navigation img{
    position: absolute;
    height: 70px;
    margin-top: 5px;
    margin-left: 10px;
}
li a{
    width: 150px;
    display: block;
    padding: 20px 15px;
    color: #645CAA;
    text-align: center;
    font-size: 18px;
}
nav a:hover{
    color: #D36B00;
    font-weight: 600;
}
hr{
    color: #D36B00;
}
.carousel{
    height: 430px;
    position: relative;
}
.carousel >img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.maintext{
    text-align: center;
    position: absolute;
    top: 47%;
    right: 3%;
    color: #040F16;
}
.maintext a{
    color: #ffffff;
    background-color: #645CAA;
    text-decoration: none;
    padding: 20px;
    border-radius: 20px;
    margin: 5px;
    display: inline-block;
}
.maintext a:hover{
    background-color: #F374AE;
    font-size: 18px;
    font-weight: 500;
}
.section{
    background-color: #cdd1c4;
}
.booktext{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
}
.form{
    width: 600px;
    margin: auto;
    padding: 20px 20px;
}
.form >h2{
    padding: 10px;
    text-align: center;
}
input,button,select,textarea{
    display: block;
    margin-bottom: 12px;
    border-radius: 8px;
}
input,select,textarea{
    font-size: 14px;
    width: 100%;
    padding: 10px;
    border: none;
}
button{
    background-color: #645CAA;
    border: white;
    padding: 10px;
    width: 25%;
    margin: auto;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
}
button:hover{
    background-color: #F374AE;
}
.main{
    margin-top: 1%;
    text-align: center;
}
.main p{
    margin: 1%;
}
.news{
    margin: 1%;
    margin-top: 100px;
    text-align: center;
    font-size: 18px;
}
.news h2{
    font-weight: bold;
    margin: auto;
    width: 50%;
}
.news p{
    margin: auto;
    margin-top: 20px;
    width: 40%;
}
.about{
    width: 50%;
    margin: auto;
}
.about h1{
    text-align: center;
}
.about p{
    font-size: 20px;
}
.mem{
    background-color: #cdd1c4;
    padding-top: 1%;
    padding-bottom: 1%;
}
.members{
    width: 70%;
    margin: auto;
}
.members h2{
    text-align: center;
}
.members ul{
    list-style: none;
    font-size: 20px;
}
.con1{
    background-color: #cdd1c4;
    padding: 10px;
}
.sub{
    width: 60%;
    margin: auto;
    padding: 20px;
}
.sub h2{
    text-align: center;
}
.contact{
    width: 30%;
    margin: auto;
}
.contact button{
    width: 40%;
}
.logo{
    width: 50px;
    height: 50px;
}

.sub img{
    height: 50px;
    margin-right: 50px;
}

.socials{
    width: 30%;
    margin: auto;
}
.segment{
    background-color: #cdd1c4;
    padding-bottom: 5px;
}
.error{
    width: 600px;
    padding-top: 50px;
    margin: auto;
}
.error h1{
    text-align: center;
}
.error img{
    height: 400px;
}
.error a:hover{
    color: #D36B00;
    font-size: 28px;
}