*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.carousel{
    height: 400px;
    position: relative;
}
.carousel >img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.maintext{
    position: absolute;
    top: 40%;
    left: 3%;
}
/* .maintext h1{
    color: #040F16;
} */
.maintext a{
    color: #ffffff;
    background-color: #645CAA;
    text-decoration: none;
    padding: 20px;
    border-radius: 20px;
    margin: 5px;
    display: inline-block;
}
.maintext a:hover{
    background-color: #F374AE;
}
.section{
    background-color: #cdd1c4;
}
.booktext{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
}
.form{
    width: 600px;
    margin: auto;
    padding: 20px 20px;
}
.form >h2{
    padding: 10px;
    text-align: center;
}
input,button,select{
    display: block;
    margin-bottom: 12px;
    border-radius: 8px;
}
input,select{
    width: 100%;
    padding: 10px;
    border: none;
}
button{
    background-color: #645CAA;
    border: white;
    padding: 10px;
    width: 25%;
    margin: auto;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
}
button:hover{
    background-color: #F374AE;
}
.navigation{
    /* margin: 40px; */
    padding: 40px;
    text-align: right;
    border-bottom: #D36B00; 
    border-style: solid;
    /* border-color: red; */
}
.navigation a{
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    color: #645CAA;
}
.navigation a:hover{
    color: #D36B00;
}
.navigation img{
    /* border-radius: 50%; */
    display: block;
    height: 100px;
    margin: 0px;
    padding: 0px;
    border-style: solid;
    border-color: red;
    
}
.main{
    margin-top: 1%;
    text-align: center;
}
.main p{
    margin: 1%;
}
.news{
    margin: 1%;
    margin-top: 100px;
    text-align: center;
    font-size: 18px;
}
.news h2{
    font-weight: bold;
    margin: auto;
    width: 50%;
}
.news p{
    margin: auto;
    margin-top: 20px;
    width: 40%;
}
.about{
    width: 50%;
    margin: auto;
}
.about h1{
    text-align: center;
}
.about p{
    font-size: 20px;
}
.mem{
    background-color: #cdd1c4;
    padding-top: 1%;
}
.members{
    width: 70%;
    margin: auto;
}
.members h2{
    text-align: center;
}
.members ul{
    list-style: none;
    font-size: 20px;
}
.contact{
    width: 30%;
    margin: auto;
}
nav{
        /* margin: 40px; */
        padding: 40px;
        text-align: right;
        border-bottom: #D36B00; 
        border-style: solid;
        /* border-color: red; */
}
nav a{
    text-decoration: none;
}
nav img{
        /* border-radius: 50%; */
        display: block;
        height: 100px;
        width: 150px;
        margin: -40px;
        padding: -10px;
        /* border-style: solid; */
        /* border-color: red; */
}